<nav class="custom-navbar">
  <div class="navbar-container">
    <a class="logo" routerLink="/inicio">HOTELITO</a>

    <div class="nav-links">
      <a class="nav-link" routerLink="/inicio">Inicio</a>
      <a class="nav-link" routerLink="/habitaciones"
        routerLinkActive="active">Habitaciones y Suites</a>
      <a class="nav-link" routerLink="/experiencia"
        routerLinkActive="active">Experiencia</a>

    </div>

    <div class="navbar-actions">
      <span class="lang-switch">EN | <span class="inactive">ES</span></span>
    </div>
  </div>
</nav>

<br>
<br>
<br>