<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3 class="footer-title">Hotelito</h3>
      <p>Vive una experiencia única de descanso y lujo frente al mar.</p>
    </div>


    <div class="footer-column">
      <h4>Contáctanos</h4>
      <p>📍 Máncora, Piura, Perú</p>
      <p>📞 +51 999 999 999</p>
      <p>✉️ contactoarennas.pe</p>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tripadvisor"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Hotelito Máncora. Todos los derechos reservados.</p>
  </div>
</footer>
