<section class="banner-experiencia">
    <div class="banner-overlay">
      <h1 class="banner-titulo">Renueva tu esencia</h1>
    </div>
  </section>
  
<section class="experiencia-section">
    <div class="contenido">
      

        <div class="spa-contenido">
            <div class="spa-texto">
                <h3 class="spa-titulo">Spa</h3>
                <p class="spa-descripcion">
                    Déjate llevar por el sonido del mar y disfruta de unos
                    masajes relajantes y aromaterapia en nuestro SPA.
                </p>
            </div>
            <div class="spa-imagen">
                <img src="https://i.pinimg.com/736x/24/1e/c2/241ec216f555090de44c053d75e43c7d.jpg"
                    alt="Vista del spa frente al mar" />
            </div>
        </div>

        <div class="experiencias-contenido">
            <!-- Cena Romántica -->
            <div class="experiencia-item cena-romantica">
                <div class="experiencia-texto">
                  <h3 class="experiencia-titulo">Cena</h3>
                  <p class="experiencia-descripcion">
                    Nuestra playa privada, el sunset y el sonido del mar brindan el escenario perfecto para un momento romántico.
                  </p>
                </div>
                <div class="experiencia-imagen">
                  <img src="https://i.pinimg.com/736x/0a/fd/5e/0afd5e0c4d6cff208de37fdaec9d1466.jpg" alt="Cena romántica en la playa">
                </div>
              </div>
              
              
            
            <div class="experiencia-item">
                <div class="experiencia-texto">
                    <h3 class="experiencia-titulo">Bar</h3>
                    <p class="experiencia-descripcion">
                      Disfruta de una selección exclusiva de cócteles artesanales y bebidas premium en un ambiente sofisticado. Nuestro bar es el lugar perfecto para relajarte al atardecer o iniciar una velada inolvidable.
                    </p>
                </div>
                <div class="experiencia-imagen">
                    <img src="https://i.pinimg.com/736x/f7/a6/dc/f7a6dc27de0eb2c885d8f24d71782f32.jpg" alt="Clase de ceviche">
                </div>
            </div>
        </div>

    </div>
</section>
