<div class="container text-center">
    <div class="row">
      <!-- Itera sobre las habitaciones -->
      <div class="col" *ngFor="let hab of habitacion">
        <div class="card">
          <img [src]="hab.imagen" class="card-img-top" alt="{{ hab.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ hab.nombre }}</h5>
            <p class="card-text">{{ hab.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ hab.precio }} / per night</li>
          </ul>
          <div class="card-body">
            <a [routerLink]="['/reserva', hab.id]" class="btn btn-primary">
              Reservar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  